.titleBoxInfo {
    color: var(--primaire-color);
    position: relative;
    text-align: left;
    padding: 1em;
    width: 100%;
    font-size: 1em;
    background-color: var(--secondaire-color);
    border-radius: 1em;
    z-index:3;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.titleBoxInfo .Title{
    margin: 0em;
   
}


.descriptionBoxInfo{
    color: var(--secondaire-color);
    font-size: 1em;
    position: relative;
    padding:2em 1em 1em 1em ;
     background-color:var(--tertiaire-color); 
    width: 100%;
    z-index: 1;
    text-align: left;
    border-radius: 1em 1em 0em 0em;
    margin-top: -1em;

}
.box{
    margin: 2em 2em 2em 0em;
    width: 90%;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
    
}