.posCarousel{

object-fit: cover;
    width: 100%;
    height: 600px;
    position: absolute;
    display: flex;
    border-radius: 1em;
    
    
}

.containerCarousel{

position: relative;
    display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
}


.ImgCarousel{
    display: flex; 
    justify-content: center; 
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}



.posFleche {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 3;
    justify-content: space-between;
    align-items: center;

}

.fleche {
    height: 4em;


}

.numberSlide{
    z-index: 3;
    font-size: 1.2em;
    color:var(--primaire-color);
    margin: 1em;
}