.posBoxI {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
}

.FicheDetail {
    width: 100%;
    
}

.profilImg {
    border-radius: 10em;
    width: 5em;
}

.profil {
    display: flex;
    color: var(--secondaire-color);
}

.locationInfo {
    text-align: left;
    color: var(--secondaire-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.posInfoLocation {
    display: flex;
    justify-content: space-between;
}

.posTag {
    display: flex;
    gap: 1em;
}

.name {
    word-wrap: break-word;
    margin: 2;
    text-align: right;

}

.city {
    margin: 0.5em;
}

.NameLocation {
    margin: 0.1em;

}

.carrouselPicture {
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    gap: 0em;
    align-items: flex-start
}

.imgc {
    object-fit: cover;
    width: 100%;
    height: 300px;
    position: absolute;
    display: flex;
    border-radius: 1em;

}

.posFleche{
    display: flex;
    position: absolute;
     justify-content: space-between;
    align-items: center;
    
}

.fleche {
    height: 4em;
    
   
}

/* .flecheLeft {
    position: absolute;
 
    display: flex;
    color: aliceblue;
    height: 300px;
    align-items: center;

}

.flecheRight {
    position: absolute;
        
        display: flex;
        color: aliceblue;
        height: 300px;
        align-items: center;
} */
.flecheLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
        width: 100%;
    margin: 0;

}


