.pos-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: burlywood;
    padding:1em 2em 1em 2em ;
}

.App-logo{
    width: 10em;
}
.ks-navbar{
    display: flex;
    gap: 1em;
}